<div class="container">
	<div class="input-group">
		<select ng-options="item.object.value for item in items" ng-model="query" class="form-control input-lg" placeholder="Search Cuisine" ng-model="selected"></select>
		<span class="input-group-btn">
	        <button class="btn btn-default btn-lg" type="button" ng-click="getRecipe()">
				<i class="glyphicon glyphicon-search"></i>
			</button>
	    </span>
	</div>
	<br/>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" ng-repeat="img in images" class="{active : (img === 0)}" data-slide-to="{{img}}"></li>
		</ol>
		<div class="carousel-inner">
			<div ng-class="{item: true, active : (img === 0)}" ng-repeat="img in images">
				<img ng-src="{{uri}}/{{w}}/{{h}}/{{currentFolder}}/{{img}}" alt="Slide numder {{img}}">
				<div class="container">
					<div class="carousel-caption"></div>
				</div>
			</div>
		</div>
	</div>
</div>
